body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #fafafa;
}

a {
  :hover {
    cursor: pointer;
  }
}

@import "./scss/mixins";

@import "./scss/components/navbar";

@import "./scss/pages/profile";
@import "./scss/pages/home-and-explore-page";
