.main-page {
  width: 100vw;
  padding-top: 2em;
  a {
    text-decoration: none;
    color: #000;
  }

  &__container {
    @include home-container-width;
    max-width: 600px;
    @media (max-width: 600px) {
      border: none;
      border-top: 1px solid #dbdbdb;
      border-bottom: 1px solid #dbdbdb;
    }
    border: 1px solid #dbdbdb;
    border-radius: 0.5em;
    margin-bottom: 1em;
    &__header {
      margin: 1em 0;
      display: flex;
      align-items: center;
      padding: 0 1em;
      &__photo {
        margin-right: 0.5em;
      }
    }
    &__footer {
      padding: 0.5em 1em;
      &__likes {
        @include flex-center;
        justify-content: flex-start;
      }
    }
    &__image {
      img {
        width: 100vw;
        max-width: 600px;
        object-fit: cover;
        max-height: 750px;
      }
    }
  }
}

.main-page {
  &__container__header {
    @include flex-center;
    justify-content: space-between;
    margin: 0.35em 0;
    &__left {
      display: flex;
      align-items: center;
      &__photo {
        margin-right: 0.5em;
      }
    }
  }
}

.comments-flex {
  // ! make this a mixin after adding delete and edit to home and explore
  @include flex-center;
  justify-content: space-between;
  &__item-right {
    @include flex-center;
  }
}
