.home, .explore-page{
  width: 100vw;
  padding-top: 2em;

  &__container {
    @include home-container-width;
    max-width: 600px;
    border: 1px solid #dbdbdb;
    border-radius: 0.5em;
    margin-bottom: 1em;
    &__header {
      margin: 1em 0;
      display: flex;
      align-items: center;
      padding: 0 1em;
      &__photo {
        margin-right: 0.5em;
      }
    }
    &__footer {
      padding: 0.5em 1em;
      &__likes {
        @include flex-center;
        justify-content: flex-start;
      }
    }
    &__image {
      img {
        width: 100vw;
        max-width: 600px;
      }
    }
  }
}
