.profile {
  width: 100vw;
  &__container {
    @include home-container-width;

    &__header {
      @include flex-center;
      &__profile-photo {
        margin-top: 2em;
        margin-right: 10em;
        position: relative;

        &__overlay {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: $overlay-before;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          transition: all 0.3s ease;
          color: $overlay-text-before;
          font-weight: bold;
          &:hover {
            background-color: $overlay-after;
            color: $overlay-text-after;
            cursor: pointer;
          }
          &__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      &__user-info {
        &__name {
          font-size: 3rem;
          margin: 0.1em 0;
        }
        &__follow{
          margin-top: 1em;
        }
      }
      @media (max-width: 1056px) {
        flex-direction: column;
        &__profile-photo {
          margin-top: 2em;
          margin-right: 0;
        }
      }
    }
    &__hr {
      border: 1px solid $black;
      margin: 1rem auto;
      max-width: 80%;
    }
    &__posts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
      img {
        width: 318px;
        height: 318px;
        object-fit: cover;
      }
      @media (max-width: 1056px) {
        @include flex-center;
        flex-direction: column;
        img {
          width: 70vw;
        }
      }
    }
  }
}
