.profile {
  width: 100vw;
  &-container {
    @include home-container-width;

    &__header {
      @include flex-center;
      &__profile-photo {
        margin-top: 2em;
        margin-right: 10em;
      }
      &__user-info__name {
        font-size: 3rem;
        margin: 0.1em 0;
      }
      @media (max-width: 1056px) {
        flex-direction: column;
        &__profile-photo {
          margin-top: 2em;
          margin-right: 0;
        }
      }
    }
    &__hr {
      border: 1px solid black;
      margin: 1rem auto;
      max-width: 80%;
    }
    &__posts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
      img {
        width: 318px;
        height: 318px;
        object-fit: cover;
      }
      @media (max-width: 1056px) {
        @include flex-center;
        flex-direction: column;
        img {
          width: 70vw;
        }
      }
    }
  }
}
