.navbar-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.navbar-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  a {
    height: 2em;
    width: 100%;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    &:hover {
      background-color: $hover-background;
    }
  }
}

.delete-acc-modal {
  @include flex-center;
  flex-direction: column;
  justify-content: space-around;
  &__footer {
    span {
      margin: 0 2em;
      font-size: 1.3rem;
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid $black;
      }
    }
  }
}

