$app-background: #fafafa;
$hover-background: #f0f0f0;
$border: #dbdbdb;
$overlay-before: #00000000;
$overlay-after: #00000080;
$overlay-text-before: #ffffff00;
$overlay-text-after: #ffffff;

$black: #000;
$white: #fff;
$danger: #ff0000;
